<div id="cookies-eu-banner" style="display: none;">
  <%= translation.cookies_eu_banner.banner_text %>
  <a href="https://plattform.ki-marktplatz.com/Plattform/Information/Cookie" id="cookies-eu-more"><%= translation.cookies_eu_banner.cookie_information %></a>
  <div>
    <button id="cookies-eu-reject" class="cookie-btn"><%= translation.cookies_eu_banner.reject %></button>
    <button id="cookies-eu-accept" class="cookie-btn"><%= translation.cookies_eu_banner.accept %></button>
  </div>
</div>

<header class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#header-navbar-collapse">
        <span class="fa fa-angle-double-down"></span>
      </button>
      <div class="logo-header">
        <a href="/" class="brand"
          style="background-image: url(/img/aimarketplace/AI_Marketplace_Logo_<%=lang=='de'?'de':'en'%>.png);"></a><span
          class="brand-text">
          <%= site.title %>
        </span>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="header-navbar-collapse">
      <div id="user_info" class="col-md-pull-3 nav navbar-nav navbar-right">
        <div id="profile_editor_switcher" class="dropdown switcher_bar" tabindex="1">
          <%if(session.user){%>
            <a class="dropdown-toggle" data-toggle="dropdown" href="">
              <img alt="User" src="<%= session.user.image %>">
              <%= session.user.username %>
                <i class="fa fa-angle-double-down"></i>
            </a>
            <ul id="editor_list" class="dropdown-menu multi-level dropdown-menu-right" role="menu"
              aria-labelledby="dropdownMenu">
              <li>
                <a href="/idm/users/<%= session.user.id %>">
                  <i class="fa fa-user"></i>
                  <%=translation.header.menu_item01%>
                </a>
              </li>
              <li>
                <a href="/idm/settings">
                  <i class="fa fa-cog"></i>
                  <%=translation.header.menu_item02%>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="/idm/help_about">
                  <i class="fa fa-question-circle"></i>
                  <%=translation.header.menu_item03%>
                </a>
              </li>
              <li>
                <a href="/auth/logout?_method=DELETE" onclick="">
                  <i class="fa fa-sign-out-alt"></i>
                  <%=translation.header.menu_item04%>
                </a>
              </li>
            </ul>
            <%}%>
        </div>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</header>

<script src="/javascripts/cookies-eu-banner.min.js"></script>
<script>
    new CookiesEuBanner(function () {
      (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-MF9BSM5');
    }, true);
</script> 